<mat-toolbar color="primary">
  <span>
    <a routerLink="/" routerLinkActive="active">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    @if(userIsAuthenticated){
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
    }
    @if(!userIsAuthenticated){
    <li>
      <a mat-button routerLink="/auth/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/auth/signup" routerLinkActive="active">Signup</a>
    </li>
    }
  </ul>
</mat-toolbar>