<mat-card>
  @if(isLoading){
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  }
  @if(!isLoading){
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button mat-flat-button color="accent" type="submit" [disabled]="isLoading">Signup</button>
    </mat-card-actions>
  </form>
  }
</mat-card>